@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: local('inter'), url("assets/fonts/Inter-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: local('inter'), url("assets/fonts/Inter-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: local('inter'), url("assets/fonts/Inter-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: local('inter'), url("assets/fonts/Inter-Medium.ttf") format('truetype');
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'inter',*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
